cookiecutter==2.1.1

# Testing
pytest==3.0.5
tox==2.5.0
pytest-cookies==0.2.0
binaryornot==0.4.0
tox==2.5.0
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
