matplotlib
jupyter
notebook
Sphinx
flake8
mypy
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
jupyterlab>=4.4.8 # not directly required, pinned by Snyk to avoid a vulnerability